<div class="col-lg-12 text-center">
  <h3>
    <%= @channel.course.name %> Course Channel
  </h3>
</div>
<div class="col-sm-9 jumbotron">
  <h4>
    Slideshow
  </h4>
</div>
<div class="col-sm-3 jumbotron">
  <h4>
    Messenger
  </h4>
</div>
