<div class="menu">
  <ul>
  {{#if session.isAuthenticated}}
     <a id="logout" {{action 'invalidateSession'}}>Logout</a>
  {{else}}
     <li>{{#link-to 'login'}}Login{{/link-to}}</li>
  {{/if}}
   </ul>
</div>
<div class="main">
  {{outlet}}
</div>
