<h3>
  Your Assets for <%= @course.name %>
  <%= link_to " Go to Class", classroom_path, class: 'btn btn-primary pull-right fa fa-caret-square-o-right'%>
</h3>

<div class="jumbotron">
  <p>
    Assignments
    <% if current_user.try(:admin?) || current_user.try(:instructor?) %>
      <%= link_to " New Assignment", root_path, class: 'btn btn-default pull-right fa fa-file'%>
    <%end%>
  </p>
  <hr>
</div>
